body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: black;
	background: linear-gradient(90deg,green,gold,cornflowerblue,orange);
	background-size: 400% 400%;
	animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.nav{
  margin-top: 15px;
}

.nav h1{
    margin: 0;  
    color:black;
    text-align:left;
}

.nav ul{ 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: ;
}

.nav li{
    font-family: 'Nunito', sans-serif;
      font-size:18px;
    float:left;
}

.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  color: white;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
	width: 100%;
	position: absolute;
	top:10%;
	text-align: center;
}


h1 {
	font-weight: 300;
}

h3 {
	color: black;
	font-weight: 100;
}

h5 {
	color:black;
	font-weight:300;
}

#social{
	color:black;
}

#social:hover {
	text-decoration: none;
	color: white;
}

