.dogs
{
	margin: 0;
	width: 100%;
	height: 2010px;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(270deg,midnightblue,indigo,orange,rebeccapurple);
	background-size: 400% 400%;
	animation: gradientBG 12s ease infinite;
}

.cats
{
	margin: 0;
	width: 100%;
	height: 2040px;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(270deg, green, plum,seagreen,  mediumorchid);
	background-size: 400% 400%;
	animation: gradientBG 12s ease infinite;
}


@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*FORM */
.mm-survey {
	margin-top: ;
	margin-bottom: 50px;
}

.mm-survey-container {
	width: 100%;
	min-height: 600px;
}

.mm-survey-results-container {
	width: 100%;
	min-height: 600px;
	background: #fafafa;
	width: 100%;
	position: absolute;
	margin-top: 15px;
	text-align: center;
}

.mm-survey-page {
	display: none;
	font-family: 'Raleway';
	font-weight: 100;
	padding: 40px;
}

.mm-survey-page.active {
	display: block;
}

.mm-survey-controller {
	position: relative;
    height: 60px;
    background: #333;
    padding: 12px 14px;
}

.mm-survey-results-controller {
	position: relative;
    height: 60px;
    background: #333;
    padding: 12px 14px;
}




.mm-finish-btn {
	display: none;
    position: relative;
    float: right;
}

.mm-finish-btn button {
	background: #3DD2AF !important;
    color: #fff;
}

.mm-survey-controller button {
	background: #fff;
    border: none;
    padding: 8px 18px;
    font-family: 'Raleway';
    font-weight: 300;
}

.mm-survey-results-controller button {
	background: #fff;
	border: none;
	padding: 8px 18px;
}

.mm-survey-progress {
	width: 100%;
	height: 30px;
	background: #f5f5f5;
	overflow: hidden;
}

.mm-progress {
	transition: width 0.5s ease-in-out;
}

.mm-survey-progress-bar {
	height: 30px;
    width: 0%;
    background: linear-gradient(to left, #4CB8C4, #3CD3AD);
}

.mm-survey-q {
	list-style-type: none;
	padding: 0px;
}

.mm-survey-q li {
	display: inline;
	/*padding: 20px 0px;*/
	margin-bottom: 10px;
	width: 100%;
	background: #fff;
}

.mm-survey-q li input {
	width: 100%;
}

.mm-survery-content label {
	width: 100%;
	padding: 10px 10px;
	margin: 0px !important;
}

.mm-survery-content label:hover {
	cursor: pointer;
}

.mm-survey-question {
    padding: 10px;
	/*min-height: 100px;*/
}

.mm-survey-question p {
    margin: 0px;
	/*font-size: 18px;
       margin-bottom: 20px;
    font-weight: 200;
    line-height: 40px;*/
}

.mm-survery-content label p {
	display: inline-block;
    position: relative;
    top: 2px;
    left: 5px;
    margin: 0px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	color: #292321;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 16px;
}

input[type="radio"] + label span {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 2px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 20px;
	border-radius: 50%;
}

input[type="radio"] + label span {
 	background-color: #333;
}

input[type="radio"]:checked + label span {
	border: 2px solid #3DD2AF;
	background: transparent;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
	-webkit-transition: background-color 0.20s ease-in-out;
	-o-transition: background-color 0.20s ease-in-out;
	-moz-transition: background-color 0.20s ease-in-out;
	transition: background-color 0.20s ease-in-out;
}

.mm-survey-item {
	background: #fafafa;
	/*margin-bottom: 15px;
	border-bottom: 1px solid rgba(33,33,33,0.15);
    border-radius: 0px 0px 4px 4px;*/
}
.mm-survey-item1 {
	
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(33,33,33,0.15);
    border-radius: 0px 0px 4px 4px;
}

.mm-prev-btn button:focus, .mm-next-btn button:focus, .mm-finish-btn button:focus {
	outline: none;
	border: none;
}

.mm-survey.okay .mm-next-btn {
	display: inline-block;
	opacity: 1;
}

.mm-finish-btn.active {
	display: inline-block;
}

.mm-survey-results {
	display: none;
}

.mm-survey-results-score {
	margin: 0px;
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 80px;
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: -6px;
}

.mm-survey-results-list {
	list-style-type: none;
	padding: 0px 15px;
    margin: 0px;
}

.mm-survey-results-item {
	color: #fff;
    margin-top: 10px;
    padding: 15px 15px 15px 0px;
    font-family: 'Raleway';
    font-weight: 300;
}

.mm-survey-results-item.correct {
	background: linear-gradient(to left, #4CB8C4, #3CD3AD);
}

.mm-survey-results-item.incorrect {
	background: linear-gradient(to left, #d33c62, #dc1144);
}

.mm-item-number {
	height: 40px;
	position: relative;
	padding: 17px;
	background: #333;
	color: #fff;
}

.mm-item-info {
	float: right;
}

#placeorderbtn1 {
    border-radius: 20px;
    border-color:green;
    padding:10px;
    background-color:white;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px; 
     margin-left:550px;
     height:47px;
}

#placeorderbtn2 {
    border-radius: 20px;
    border-color:blue;
    padding:10px;
    background-color:white;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    height:47px; 
}

#placeorderbtn1:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}

#placeorderbtn2:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}

.nav{
  margin-top: 20px;
}

.nav h1{
    margin: 0;  
    color: #fff;
    font-size:20px;
    text-align:left;
}

.nav ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
    font-family: 'Nunito', sans-serif;
    font-size:18px;
    float:left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  color: #111;
}