body{
    margin: 0;
  width: 100%;
  height:80vh;
  font-family: "Exo", sans-serif;
  color: #fff;
  background: linear-gradient(90deg,tomato,indigo,orange,rebeccapurple);
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.nav{
  margin-top: 20px;
}

.nav h1{
    margin: 0;  
    color: #fff;
    font-size:20px;
    text-align:left;
}

.nav ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
    font-family: 'Nunito', sans-serif;
    font-size:18px;
    float:left;
}

#mar1{
  font-family: 'Nunito', sans-serif;
  color:white; 
  font-size:20px;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

.past_orders{
    margin-top: 1100px;
    width: 1000px;
    padding: 20px;
    text-align: center;
    background:	 #00001a ;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}


#placeo{
  margin-top:400px;
}

#confirmo{
  margin-top:300px;
}

.past_orders h1{
    margin-top: 30px;
    font-family: 'Permanent Marker', cursive;  
    color: #fff;
    font-size: 40px;
}

.past_orders h2{
    color: white;
}

.item th,td{
  color:white;
  text-align: center;
}


.check{
 border: none;
}


.backbtn{
    border-radius: 20px;
    border-color:darksalmon;
    background-color:darksalmon;
    margin-right:  50px;
    font-family:cursive; 
    padding: 10px;
    cursor:pointer;
}

.nextbtn{
     border-radius: 20px;
    border-color:darksalmon;
    background-color:darksalmon;
    margin-left:  50px;
    font-family:cursive; 
    padding: 10px;
    cursor:pointer;
}

.orderbtn{
    border-radius: 20px;
    border-color:darksalmon;
    background-color:darksalmon;
    padding: 10px;
    font-family: 'Permanent Marker', cursive; 
    letter-spacing: 2px;
    font-size: 15px;
    height: 47px;
}

#placeorderbtn {
    border-radius: 20px;
    border-color:darksalmon;
    background-color:darksalmon;
    padding: 10px;
    font-family: 'Permanent Marker', cursive; 
    letter-spacing: 2px;
    font-size: 20px;
    height: 47px;
}

.orderbtn:hover{
  color: crimson;
  cursor: pointer;
}

.backbtn:hover{
  color: crimson;
  cursor: pointer;
}

.nextbtn:hover{
  color: crimson;
  cursor: pointer;
}

.item input{
  height:20px;
}

.past_orders a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 10px;
    transition: 0.8s;
}

.placeorder input:hover{
  color: crimson;
  cursor: pointer;
}

.past_orders a:hover{
    color: crimson;
}

.content{
    height: 500px;
    color: white;
}

.past_orders{
    color: white;
}

input[type="radio"] {
  cursor:pointer;
}
