body {
    margin: 0;
    width: 100%;
    height: 80vh;
    font-family: "Exo", sans-serif;
    color: #fff;
    background: linear-gradient(60deg,pink,tomato,teal,midnightblue);
    background-size: 400% 400%;
    animation: gradientBG 20s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.b1
{
            background-color:white;
            color:black;
            border:2px solid green;
            border-radius: 20px;
            font-size:22px;
}
.b1:hover{
            background-color:black;
            color:white;
            border:2px solid green;
            cursor:pointer;
}
.b2
{
            background-color:white;
            color:black;
            border-radius: 20px;
            border:2px solid blue;
            font-size:22px;
}
.b2:hover{
            background-color:black;
            color:white;
            border:2px solid blue;
             cursor:pointer;
}

.nav{
  margin-top: 20px;
}

.nav h1{
    margin: 0;  
    color: #fff;
    font-size:20px;
    text-align:left;
}

.nav ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
    font-family: 'Nunito', sans-serif;
    font-size:18px;
    float:left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  color: #111;
}